<div class="container-fluid col-lg-9 col-12 col-md-9 pt-2" style="background-color: white">
    <h2 class="mt-4">Portugal COVID19 Tracker</h2>
    <br />
    <p>
      <ngb-alert type="secondary" [dismissible]="false">
        <strong>Confirmados:</strong> {{ current?.cases?.total | number }} ({{
          current?.cases?.new
        }})
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="warning" [dismissible]="false">
        <strong>Críticos:</strong> {{ current?.cases?.critical | number}}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="success" [dismissible]="false">
        <strong>Recuperados:</strong> {{ current?.cases?.recovered | number}}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Mortes:</strong> {{ current?.deaths?.total | number}} ({{
          current?.deaths?.new
        }})
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="info" [dismissible]="false">
        <strong>Ativos:</strong> {{ current?.cases?.active | number }}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="tests" [dismissible]="false">
        <strong>Testes:</strong> {{ current?.tests?.total |number }}
      </ngb-alert>
    </p>
    <br />
</div>

<footer>
  <div class="text-muted mt-4 mb-4 text-center">© {{ currentYear }} Tiago Martinho</div>
</footer>
