<div class="container mt-3">
  <h2>Portugal COVID19 Tracker</h2>
  <br />
    <p>
      <ngb-alert type="info" [dismissible]="false">
        <strong>Confirmed:</strong> {{ stats?.confirmed }}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="warning" [dismissible]="false">
        <strong>Critical:</strong> {{ stats?.critical }}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="success" [dismissible]="false">
        <strong>Recovered:</strong> {{ stats?.recovered }}
      </ngb-alert>
    </p>
    <p>
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Deaths:</strong> {{ stats?.deaths }}
      </ngb-alert>
    </p>
</div>

<footer>
    <div class="text-muted mt-4 text-center">
        © 2020 Tiago Martinho
      </div>
</footer>
